<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-end">
            <i class="bi bi-person"></i>
        </div>
        <div class="col-md-8">
            <p id="textCliente" class="d-flex p-2 bd-highlight">Clients</p>
            <p id="textClientevar" class="d-flex p-2 bd-highlight">Client Look History</p>
            <p id="textClientevar" class="text-wrap d-flex p-2 bd-highlight">Emergency Pin Configuration</p>
            <p id="textClientevar" class="d-flex p-2 bd-highlight">Emergency Pin <br/> History</p>
        </div>

    </div>
</div>



